#highlightCanvas {
    position: absolute;
    top: -800px;
}
#pingCanvas {
    position: absolute;
    top: -800px;
}

.top-bar {
    padding-top: 10px;
    text-align: right;
}

.top-bar button.btn {
    margin-left: 8px;
}

.top-bar input.input-small {
    margin-bottom: 0;
}

.history-swatch {
    float: left;
    width:40px;
    height:16px;
}

.history-number {
    font-size:14px;
    line-height: 16px;
    text-align: center;
}

.vertical-history {
    height:800px;
    width:28px;
    position: absolute;
    left: 946px;
    top: 67px;
}

.vertical-history .history-swatch {
    width:16px;
    height:32px;
}

.vertical-history .history-number {
    float: right;
    font-size:14px;
    line-height: 33.3px;
    text-align: center;
}

.kept-swatch {
    width:16px;
    height:16px;
}

.kept-hover {
    position: relative;
    top: -2px;
    left: -2px;
    border: 2px solid white;
    z-index: 100;
}

.stats {
    padding-top: 0;
    font-size: 12px;
    line-height: 13px;
}

div.coords {
    width: 75px;
    margin-left: 5px;
}