#highlightCanvas {
    position: absolute;
    top: -800px;
}
#pingCanvas {
    position: absolute;
    top: -800px;
}

.top-bar {
    padding-top: 10px;
}

.top-bar h1 {
    margin-top: 0;
}

.top-bar p {
    line-height: 30px;
}

.top-bar strong {
    color: #d4dae2;
}

.top-bar form {
    margin: 0;
}

.top-bar button.btn {
    margin-left: 8px;
}

.top-bar input.input-medium {
    margin-bottom: 0;
}

.top-bar input.error {
    border-color: red;
}

.history-swatch {
    float: left;
    width: 40px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

.history-number {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.vertical-history {
    height: 800px;
    width: 28px;
    position: absolute;
    left: 946px;
    top: 67px;
}

.vertical-history .history-swatch {
    width: 16px;
    height: 32px;
    line-height: 32px;
}

.vertical-history .history-number {
    float: right;
    font-size: 14px;
    line-height: 33.3px;
    text-align: center;
}

.kept-swatch {
    text-align: center;
    line-height: 16px;
    width: 16px;
    height: 16px;
}

.kept-hover {
    position: relative;
    top: -2px;
    left: -2px;
    border: 2px solid white;
    z-index: 100;
}

.stats {
    padding-top: 0;
    font-size: 12px;
    line-height: 13px;
}

div.coords {
    width: 75px;
    margin-left: 5px;
}

/* Bootstrap overrides */

h1 {
    font-size: 28px;
    line-height: 30px;
}

.no-indent {
    margin-left: 0;
    margin-right: 20px;
}

.container {
    position: relative;
}

legend {
    line-height: 32px;
    margin-bottom: 0.5em;
    padding-top: 0.2em;
}

/* Media Queries */

