#canvas2 {
    position: absolute;
    top: -800px;
}

.top-bar {
    padding-top: 10px;
    text-align: right;
}

.top-bar button.btn {
    margin-left: 8px;
}

.top-bar input.input-small {
    margin-bottom: 0;
}

.history-swatch {
    font-size:11px;
    line-height: 17px;
    text-align: center;
    width:40px;
    height:16px;
}

.stats {
    padding-top: 4px;
    font-size: 12px;
    line-height: 13px;
}