/* Bootstrap overrides */

h1 {
    font-size: 28px;
    line-height: 30px;
}

.no-indent {
    margin-left: 0;
    margin-right: 20px;
}

.container {
    position: relative;
}

legend {
    line-height: 32px;
    margin-bottom: 0.5em;
    padding-top: 0.2em;
}

/* Media Queries */

