<div class="container">
  	<div class="row">
	  	<h1 class="span3 no-indent">Color Chaos</h1>
        <div class="span9 top-bar">
            <input ng-hide="authed" placeholder="password" type="text" class="input-small" ng-model="password">
            <button ng-hide="authed" class="btn btn-info" ng-click="authenticate()">Let me draw!</button>
            <button class="btn btn-danger" ng-click="clearCache()"><i class="icon-white icon-exclamation-sign"></i></button>
            <button class="btn" ng-click="saveToImg()">Save Image</button>
        </div>
  	</div>
  	<div class="row">
        <canvas id="canvas1" width="960" height="800"> <!-- Main canvas -->
            Your browser doesn't support canvases. <a href="http://www.google.com/chrome">Get a better one.</a>
        </canvas>
        <canvas id="pingCanvas" width="960" height="800"></canvas> <!-- Ping canvas -->
        <canvas id="highlightCanvas" width="960" height="800"></canvas> <!-- Highlight canvas -->
  	</div>
    <div ng-hide="verticalHistory" class="row" style="height:32px;width:960px;">
        <div data-toggle="tooltip" id="palCol{{ color.hex }}" class="palette-container" ng-repeat="color in lastColors" style="width:40px;height:32px;float:left;">
            <div class="history-swatch" ng-click="grabColor(color)" style="background:{{ '#'+color.hex }};"></div>
            <div ng-show="$index < 10" class="history-number">
                <span ng-show="$index == 9">0</span><span ng-hide="$index == 9">{{ $index+1 }}</span>
            </div>
        </div>
    </div>
    <div ng-show="verticalHistory" class="vertical-history">
        <div class="palette-container" ng-repeat="color in lastColors" style="width:28px;height:32px;float:left;">
            <div class="history-swatch" ng-click="grabColor(color)" style="background:{{ '#'+color.hex }};"></div>
            <div ng-show="$index < 10" class="history-number">
                <span ng-show="$index == 9">0</span><span ng-hide="$index == 9">{{ $index+1 }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4 stats no-indent">
            <span class="muted">You've changed</span>&nbsp; {{ yourChanges }} pixels<br>
            <span ng-show="allChanges"><span class="muted">Everyone has changed</span>&nbsp; {{ allChanges }} pixels<br></span>
            <span ng-show="allChanges"><span class="muted">Last changed:</span>&nbsp; {{ lastChange | date:'medium' }}</span>
            <form>
                <fieldset>
                    <legend>Options</legend>
                    <label class="checkbox">
                        <input id="vhCheck" ng-change="onOptionChange()" ng-model="verticalHistory" type="checkbox"> Vertical Color History {{ tooltip }}
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="span1">
            <button ng-show="keeping" class="btn btn-mini btn-warning" ng-click="clearKept()">Clear</button>
        </div>
        <div class="span6">
            <div class="palette-container" ng-repeat="color in keptPixels" ng-click="removeKept(color.id)" ng-mouseenter="hoverKept(color.id)" ng-mouseleave="unhoverKept(color.id)" style="width:16px;height:16px;float:left;">
                <div ng-class="{'kept-hover': color.hover}" class="kept-swatch" style="background:{{ '#'+color.hex }};"></div>
            </div>
        </div>
        <div class="span1 text-right pull-right coords">{{ overPixel[0] }} , {{ overPixel[1] }}<br>
        <small class="muted">Last: {{ lastPixel[0] }} , {{ lastPixel[1] }}</small></div>
    </div>
</div>
