<div class="container">
  	<div class="row top-bar">
	  	<h1 class="span3 no-indent">Color Chaos</h1>
        <div ng-show="user" class="span7 text-right">
            <p>Welcome back, <strong>{{ user.email }}</strong> &mdash; <a href="#" ng-click="logOut()">Log out</a></p>
        </div>
        <div ng-show="!user && authStatus" class="span7 text-right">
            <form data-login-form="{{ authStatus }}" ng-disabled="authStatus=='logging'" ng-submit="authenticate()">
                <input id="inputLoginUser" ng-disabled="authStatus=='logging'" placeholder="email" type="text" class="input-medium" ng-model="email">
                <input id="inputLoginPass" ng-disabled="authStatus=='logging'" placeholder="password" type="password" class="input-medium" ng-model="password">
                <button id="loginSubmit" ng-disabled="authStatus=='logging'" type="submit" class="btn btn-info">Log In / Register</button>
            </form>
        </div>
        <div class="span2 pull-right text-right">
            <button class="btn" ng-click="saveToImg()">Save Image</button>
        </div>
  	</div>
  	<div class="row">
        <canvas id="canvas1" width="960" height="800"> <!-- Main canvas -->
            Your browser doesn't support canvases. <a href="http://www.google.com/chrome">Get a better one.</a>
        </canvas>
        <canvas id="pingCanvas" width="960" height="800"></canvas> <!-- Ping canvas -->
        <canvas id="highlightCanvas" width="960" height="800"></canvas> <!-- Highlight canvas -->
  	</div>
    <div ng-hide="verticalHistory" class="row" style="height:32px;width:960px;">
        <div data-toggle="tooltip" id="palCol{{ color.hex }}" class="palette-container" ng-repeat="color in lastColors" style="width:40px;height:32px;float:left;">
            <div ng-hide="color.special" class="history-swatch" ng-click="grabColor(color)" style="background:{{ '#'+color.hex }};"></div>
            <div ng-show="color.hex=='superWhite'" class="history-swatch" ng-click="grabColor(color)" style="color:#000000;background:#FFFFFF;"><i class="icon-star"></i></div>
            <div ng-show="color.hex=='superBlack'" class="history-swatch" ng-click="grabColor(color)" style="color:#FFFFFF;background:#000000;"><i class="icon-star icon-white"></i></div>
            <div ng-show="$index < 10" class="history-number">
                <span ng-show="$index == 9">0</span><span ng-hide="$index == 9">{{ $index+1 }}</span>
            </div>
        </div>
    </div>
    <div ng-show="verticalHistory" class="vertical-history">
        <div class="palette-container" ng-repeat="color in lastColors" style="width:28px;height:32px;float:left;">
            <div ng-hide="color.special" class="history-swatch" ng-click="grabColor(color)" style="background:{{ '#'+color.hex }};"></div>
            <div ng-show="color.hex=='superWhite'" class="history-swatch" ng-click="grabColor(color)" style="background:#FFFFFF;"><i class="icon-star"></i></div>
            <div ng-show="color.hex=='superBlack'" class="history-swatch" ng-click="grabColor(color)" style="background:#000000;"><i class="icon-star icon-white"></i></div>
            <div ng-show="$index < 10" class="history-number">
                <span ng-show="$index == 9">0</span><span ng-hide="$index == 9">{{ $index+1 }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4 stats no-indent">
            <span class="muted">You've changed</span>&nbsp; {{ yourChanges }} pixels<br>
            <span ng-show="allChanges"><span class="muted">Everyone has changed</span>&nbsp; {{ allChanges }} pixels<br></span>
            <span ng-show="allChanges"><span class="muted">Last changed:</span>&nbsp; {{ lastChange | date:'medium' }}</span>
            <form>
                <fieldset>
                    <legend>Options</legend>
                    <label class="checkbox">
                        <input id="vhCheck" ng-change="onOptionChange()" ng-model="verticalHistory" type="checkbox"> Vertical Color History {{ tooltip }}
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="span1">
            <button ng-show="keeping" class="btn btn-mini btn-warning" ng-click="clearKept()">Clear</button>
        </div>
        <div class="span6">
            <div class="palette-container" ng-repeat="color in keptPixels" ng-click="removeKept(color.id)" ng-mouseenter="hoverKept(color.id)" ng-mouseleave="unhoverKept(color.id)" style="width:16px;height:16px;float:left;">
                <div ng-hide="color.special" ng-class="{'kept-hover': color.hover}" class="kept-swatch" style="background:{{ '#'+color.hex }};"></div>
                <div ng-show="color.hex=='superWhite'" ng-class="{'kept-hover': color.hover}" class="kept-swatch" style="background:#FFFFFF;"><i class="icon-star"></i></div>
                <div ng-show="color.hex=='superBlack'" ng-class="{'kept-hover': color.hover}" class="kept-swatch" style="background:#000000;"><i class="icon-star icon-white"></i></div>
            </div>
        </div>
        <div class="span1 text-right pull-right coords">{{ overPixel[0] }} , {{ overPixel[1] }}<br>
        <small class="muted">Last: {{ lastPixel[0] }} , {{ lastPixel[1] }}</small></div>
    </div>
</div>
